{
	auto_https off
	debug
}

127.0.0.1:80,
localhost:80 {
	reverse_proxy {
		to app:8080

		# dynamic a {
		# 	name app
		# 	port 8080
		# }

		# Load balancing
		lb_try_duration 3s
		lb_policy cookie sticky
		# lb_policy ip_hash

		# Health check
		health_uri /health
		health_body "OK"
		fail_duration 5s
		unhealthy_latency 5s
	}

	# Enable logging
	log {
		output stdout
		# output file /var/log/caddy/access.log

		format json {
			time_format iso8601
		}
	}
}
